In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("hypertension_dataset.csv")

,Country,Age,BMI,Cholesterol,Systolic_BP,Diastolic_BP,Smoking_Status,Alcohol_Intake,Physical_Activity_Level,Family_History,...,Sleep_Duration,Heart_Rate,LDL,HDL,Triglycerides,Glucose,Gender,Education_Level,Employment_Status,Hypertension
0,UK,58,29.5,230,160,79,Never,27.9,Low,Yes,...,6.1,80,100,75,72,179,Female,Primary,Unemployed,High
1,Spain,34,36.2,201,120,84,Never,27.5,High,Yes,...,9.8,56,77,47,90,113,Male,Secondary,Unemployed,High
2,Indonesia,73,18.2,173,156,60,Current,1.8,High,Yes,...,5.2,75,162,56,81,101,Male,Primary,Employed,Low
3,Canada,60,20.3,183,122,94,Never,11.6,Moderate,Yes,...,7.5,71,164,93,94,199,Female,Secondary,Retired,High
4,France,73,21.8,296,91,97,Never,29.1,Moderate,Yes,...,5.0,52,108,74,226,157,Female,Primary,Employed,High
5,UK,44,31.5,293,158,118,Former,20.3,Moderate,No,...,8.1,98,81,69,181,85,Male,Tertiary,Employed,High
6,South Korea,88,30.9,263,118,62,Current,8.6,Low,Yes,...,4.0,88,114,52,139,194,Male,Secondary,Employed,Low
7,Canada,25,18.1,151,175,101,Never,16.6,Low,Yes,...,5.8,99,154,34,132,193,Female,Secondary,Employed,High
8,Canada,89,19.0,198,102,104,Former,10.5,Low,Yes,...,6.6,56,157,81,145,161,Female,Primary,Retired,Low
9,Brazil,33,39.1,268,168,98,Current,20.7,Moderate,No,...,8.0,76,89,37,223,164,Male,Primary,Retired,High